.recruiter__profile__right {
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    border: transparent;
    box-shadow: 0 1px 2px -2px #00000029, 0 3px 6px 0 #0000001f, 0 5px 12px 4px #00000017;
    .ant-card {
        // margin: 5px;
        width: 100%;
    }
    .each-widget {
        display: flex;
        // justify-content: space-between;
        .action-buttons {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 10px;
            .ant-btn-primary {
                max-width: 150px;
            }
        }
        .right-section {
            flex: 2;
        }
    }
    .tags-section {
        margin: 20px 0;
    }
    .footer-section {
        display: flex;
        justify-content: flex-start;
        gap: 25px;
        margin: 20px 0;
        .numbers-applied {
            position: absolute;
            right: 10px;
            bottom: 5px;
        }
    }
    .profile-footer {
        display: grid;
        grid-template-columns: 60% 40%;
        // border: 1px solid lightgrey;
        // border-radius: 3px;
        .skills-section {
            // border: 1px solid lightgrey;
            // padding: 24px;
            margin: 0 15px;
        }
        .github-repo-section {
            // border: 1px solid lightgrey;
            // padding: 24px;
            margin: 0 15px;
        }
    }
}