
.recent-chat-widget {
    .ant-card {
        margin: 3px;
        .ant-card-body {
            padding: 0px!important;
        }
    }
}

.quick-profile {
    .ant-card {
        margin: 23px;
        .quick-profile-content {
            text-align: center;
        }
    }
}

.see-more-container {
    text-align: center;
}