.profile {
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    .candidate-profile__left {
        flex-grow: 1;
    }
    .candidate-profiler__right {
        flex-grow: 1;
    }
}