.quick-profile {
    .ant-card {
        margin: 20px 0;
        .quick-profile__avatar {
            text-align: center;
            margin-bottom: 15px;
        }
        .quick-profile__content {
            text-align: center;
        }
    }
}