.search {
  height: 90%;
  .search__heading {
    margin: 15px 0 0 15px;
    h2 {
      margin-bottom: 0;
    }
  }
  .toggle {
    display: flex;
    justify-content: center;
    margin-top: 9px;
  }
}
