.ant-card-body {
    padding: 12px;
}
.tags {
    width: fit-content;
    background-color: lightgrey;
    border-radius: 10px;
    padding: 0 6px;
    margin: 0 3px;
}

.recent-chat-widget {
    .recent-chat-widget-container {
        padding: 5px 20px 0px 15px;
        margin: 10px 0;
        border: 1px solid #dcdcdc;
        border-radius: 5px;
        .each-chat {
            cursor: pointer;
            padding: 10px 0;
            .each-chat-image {
                padding: 5px;
            }
            .message-glimpse {
                width: 93%;
                padding: 0px 4px;
                border-radius: 2px;
                background-color: #f4f0ec;
                border-bottom:2px solid #dcdcdc;
            }
            .each-chat-post-desc {
                h3 {
                    margin-bottom: 2px;
                }
                text-align: center;
                .each-chat-post-link {
                    width: 100%;
                    padding: 0px 4px 6px 4px;
                    border-radius: 2px;
                    border-bottom: 2px solid #dcdcdc;
                    &:hover {
                        cursor: pointer;
                        color: #1890ff;
                    }
                }
            }
        }
    }
}

.see-more-container {
    margin: 7px 0;
    text-align: center;
}